<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'style.css') }}"
    />
    <title>Login Page</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__heading">Login Page</div>
      <div class="navbar__items">
        <a class="navbar__items__text" href="/">Home</a>
        <a class="navbar__items__text" href="/login">Login</a>
        <a class="navbar__items__text" href="/register">Register</a>
    </nav>
    <login_container class="_login_">
      <forms action="/afterLogin" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </forms>
      <div class="sub_reg">
        <input type="submit" value="Login">
      </div>
    </login_container>
  </body>
</html>
